body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(8, 55, 8);
  color: azure;
  font-family: cursive;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column; 
  align-items: center; 
  padding: 10px;

}

.img {
  height: 100px; 
  width: auto; 
  margin-bottom: 25px; 
  border-radius: 50%;
}

.mouse-events {
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}

.mouse-event {
  border: solid 1px lightgray;
  margin: 40px;
  min-width: 180px;
  min-height: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mouse-event h4 {
  position: absolute;
  top: -50px;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 100;
  color: lightgray;
}

@media (max-width:500px) {
  .container {
    flex-direction: column;
  }
}
